[2020-06-20 19:34] pablochacin opened #9 "Make bitbucket branch source dependency optional"
**Is your feature request related to a problem? Please describe.**

The plugin requires the bitbucket branch source as a dependency. I do not use bitbucket. Even worse, the bitbucket branch source plugin has a series of dependencies that are not relevant to me (e.g. Mercurial, which requires an update of the Credential plugin)

**Describe the solution you'd like**

This plugin should be installed

[2020-06-20 21:13] aytuncbeken commented on #9
Thanks for the comment. I will check the dependencies.

[2020-06-27 06:59] oleg-nenashev opened #10 "Rename the plugin to "Pipeline: Remote Jenkinsfile provider"?"
A more explicit plugin name could help this plugin to be discovered by users. The name in the title is just a suggestion, other names could be also used.

P.S: Thanks for this handy plugin!

[2020-06-29 20:52] aytuncbeken commented on #10
Hi @oleg-nenashev
I think, your suggested name explains the plugin better. As I know I need to change the <name> tag in the pom.xml, right ?

And you are welcome!

[2020-06-29 21:33] aytuncbeken commented on #9
Hi Again,
i fixed the problem with BitBucket Branch Source Plugin, I will release it today.

Thanks for the feedback.

[2020-06-29 22:03] aytuncbeken commented on #9
Released with version 1.10

[2020-06-29 22:03] #9 closed

[2020-07-03 11:26] aytuncbeken commented on #10
Name is changed with version 1.1

[2020-07-03 11:26] #10 closed

[2020-07-03 20:25] checkphi opened #14 "Build status is reported via Bitbucket Branch Source plugin"
I have a common use case:
- Code repository hosted on Bitbucket
- Jenkinsfile repository hosted on Bitbucket
- Jenkins uses Bitbucket Branch Source plugin which (1) providers a webhook that is called by Bitbucket and (2) allows cloning from Bitbucket
- Jenkins has a multibranch pipeline project to discover branches of the code repository and uses the remote jenkinsfile plugin to fetch the Jenkinsf

[2020-07-14 09:14] pablochacin opened #15 "Use Remote Jenkins Provider in multi-node pipelines"
**Note:** I asked this question in [stackoverflow](https://stackoverflow.com/questions/62859413/stash-jenkins-script-directory), but I got no answers yet. I'm sharing here because even if this is not really something related to the remote provider's behavior, I think it is common use-case and not been able to support it makes the remote provider less usable.

--------------------------------------

[2020-07-23 16:08] pablochacin commented on #15
The [Remote Loader Plugin](https://github.com/jenkinsci/workflow-remote-loader-plugin) makes the remote repository available across nodes, so helper scripts can be used in any node, but it is not compatible with multibranch jobs.

[2020-09-28 07:38] michaeltg17 opened #16 "Changes are got from the repository that has the JenkinsFile"
**Describe the bug**
Changes detected in commits are wrong, they are got from the jenkinsfile repository.

**Expected behavior**
Changes are got from the job repository

[2020-09-28 11:33] pilisig opened #17 "Build runs on the remote repo with the Jenkinsfile, not on the main repository (BitBucket)"
We have a large git repository stored in BitBucket, let's call it main_repo. I created a new repository for a Jenkinsfile, named jenkinsfile_repo. In the jenkinsfile_repo I created a directory named main_repo and put our Jenkinsfile in it. I created a Multibranch Pipline project in Jenkins, according to the documentation here:

https://plugins.jenkins.io/remote-file/

When I save it, then the scan

[2020-10-07 19:40] clipitar opened #18 "Support Pull-Requests in MatchBranches feature"
Hi,
From what I see in the documentation/code, MatchBranches feature will fallback on master branch when called with a Pull-Request branch, unless some kind of hook is implemented to make sure Pull-Request branches are equally created in the remote Jenkinsfile repository...
Would be nice if the MatchBranches feature could handle Pull-Request branches by using the branch they are based on (env.CHAN

[2020-10-16 11:57] KwaleePublishingTechSupport commented on #16
Yeah I have the same issue. Any idea how to fix this?

[2020-10-16 12:38] kaimelis commented on #16
Same problem here. Changes are an important part of work for us. Any idea if this will be fixed? Or what can be done to fix this ourselves?

[2020-10-19 21:22] Mulgikapsas commented on #16
Experiencing same issue

[2020-11-15 17:01] aytuncbeken commented on #16
Hi,

I will check and try to provide a solution for this

[2020-11-15 17:03] aytuncbeken commented on #17
Hey,
this seems like a bug. I will check

[2020-11-22 18:10] aytuncbeken commented on #16
Hi,

I found how to implement. Probably I will finish and release this week.

Thanks for the issue

[2020-11-26 18:58] guruks2004 opened #19 "Tier 2 upgrade"
I like your plugin as it helps us centralise management of our pipelines, but as per the maintenance policies - plugins below Tier 2 from Cloudbees are not supported to be installed at our organisation.

Are there any plans to move the plugin to Tier 2 within Cloudbees?

[2020-11-26 19:06] oleg-nenashev commented on #19
For the CloudBees support policy and plugin certification matters, please contact the CloudBees support team @guruks2004 . Community channels are not the best way to get feedback regarding support by a particular vendor

[2020-11-27 08:58] aytuncbeken commented on #19
Hi @oleg-nenashev ,
Is there anything that I should do for this process ?

@guruks2004 . thanks for your comment and suggestion

[2020-11-27 22:27] oleg-nenashev commented on #19
@aytuncbeken not really. When certifying plugins, CloudBees teams review security and compatibility of the plugins in question. If and when it happens, you might see some pull requests and security reports requiring attention of a plugin maintainer

[2020-11-28 13:31] aytuncbeken commented on #19
@oleg-nenashev got it. Thanks for the details. Then I will close this ticket as nothing can be done from my side now.

[2020-11-28 13:31] #19 closed

[2020-11-28 15:43] aytuncbeken commented on #16
Hi @michaeltg17 , @kaimelis
this features is release with 1.12 version.

[2020-11-28 15:44] #16 closed

[2020-12-23 19:20] ndimiduk opened #21 "Expose Jenkinsfile repository checkout path"
**Is your feature request related to a problem? Please describe.**
I'd like to package build support files, along with the `Jenkinsfile`, in the external repository. I'd like to refer to those files from within the `Jenkinsfile`. There are two places where access to these files is needed: during a "bootstrapping" stage running on the Jenkins server, and from a Jenkins agent.

**Describe the soluti

[2020-12-26 13:16] aytuncbeken commented on #14
Hi @checkphi
I checked this issue. However, I could not find a way to pass to this SCM. The reason is this plugin creates a new SCM definition for remote file internally and passes this SCM definition of the Pipeline where Jenkins file is checked out. After that, plugin has no control over there. SCM definition is a Git SCM where options are limited.

[2020-12-26 13:16] #14 closed

[2020-12-26 13:19] aytuncbeken commented on #15
@pablochacin I think this is the internal work part of the Pipeline mechanism.  Therefore, Updating this login in this plugin is not possible and not part of it. Thanks for suggestion

[2020-12-26 13:19] #15 closed

[2020-12-28 14:38] aytuncbeken commented on #21
Hi @ndimiduk ,
Thanks for the suggestion. Let me summarize what I have understood.
When this plugin is used, Job will have some predefined environment variables, where SCM URL, Jenkinsfile path will be defined.
If this is the case, I am not sure if is possible or not. I need to check.

[2021-01-01 08:58] aytuncbeken commented on #18
HI @clipitar

I made some tests with BitBucket Pull Requests. When a PR is being build, Jenkins clones the branch with same name of the PR job.

For example, PR-2 Job clones PR-2 branch from BitBucket with branch PR-2. Also this plugin tries to pull same branch from BitBucket. As there is no branch with name yet, plugins fallback to master branch. (screen-shot-1)
<img width="639" alt="Screenshot 2

[2021-01-01 09:15] aytuncbeken commented on #17
Hi @pilisig

I tried to reproduce the problem however Jenkins worked as expected. Could you please send the logs of the job if possible ?
What I did is below,

- Created a repository in BitBucket, called ```main_repo```
- Put ```source.txt``` file in it with some content
- Created a repository in Bitbucket, called ```jenkinsfile_repo```
- Put Jenkinsfile, which prints contents of the ```source.txt

[2021-01-01 19:05] aytuncbeken commented on #21
Hi @ndimiduk ,
I found a way to implement and released it with version 1.13. Please read the "Environment Variables" Section in the Readme.
Best.

[2021-01-01 19:05] #21 closed

[2021-01-06 20:47] ndimiduk commented on #21
These two new variables look like they'll do the trick. I'll give this a spin and open a followup if I have any more issues/suggestions. Thanks @aytuncbeken !

[2021-01-08 18:18] ndimiduk commented on #21
Trying this out with 1.13, I see `RJPP_SCM_URL` contains the URL I expect, but `RJPP_JENKINSFILE` is just the file name. For this to be useful for things like provisioning an agent, it would need to be an absolute path to the file. Is there something I need to do in my deployment to have this resolve to a full path?

[2021-01-08 18:34] ndimiduk commented on #21
@aytuncbeken Or is it the case that the plugin does not check out the entire repository, it only checks out the jenkinsfile specified in the job configuration?

[2021-01-08 21:58] aytuncbeken commented on #21
Hi @ndimiduk
Thank you for trying the new changes. As you said, plugin do not checkout repository fully, just checks if Fenkisfile exists and then passes Jenkisfile path and the repository to pipeline. This happens before pipeline starts, therefore it is not possible to find local path of the Jenkisfile.
Hope this helps

[2021-01-08 21:59] aytuncbeken commented on #21
You may can add another script for cloning the repo and then you can access to Jenkisfile.

[2021-01-18 16:13] nop00 opened #23 "Expose branch where Jenkinsfile was found in environment variable"
**Is your feature request related to a problem? Please describe.**
In my pipelines, I almost always need to check out the repository where the Jenkinsfile resides because I need some accompanying file.
Since I don't know on which branch the plugin found the Jenkinsfile, I'm always checking out the fallback branch first (because I know it exists), and then I run some git commands to know if the bra

[2021-02-01 15:32] nop00 commented on #23
I wrote a PR (#24) for this if you're interested.

If anyone wants to test this on their Jenkins instance, there a [release available here](https://github.com/nop00/remote-file-plugin/releases/tag/1.14-snapshot).

[2021-02-10 06:40] #23 closed

[2021-02-16 22:06] drubitsa opened #25 "Null value not allowed as an environment variable: RJPP_BRANCH"
**Describe the bug**
After upgrading from version 1.13 to 1.14, job fails with following error message:
`java.lang.IllegalArgumentException: Null value not allowed as an environment variable: RJPP_BRANCH
  	at hudson.EnvVars.put(EnvVars.java:379)
  	at org.jenkinsci.plugins.workflow.multibranch.extended.RemoteJenkinsFileItemListener.buildEnvironmentFor(RemoteJenkinsFileItemListener.java:43)
  	at

[2021-02-17 12:10] Mulgikapsas commented on #25
Getting same error after plugin upgrade for any new multibranch jobs.

[2021-02-17 17:45] ndimiduk commented on #21
Would it be possible to also include the name of the branch or git ref that was checked out?

[2021-02-22 14:53] tcsabina opened #26 "Credentials drop-down list empty in "Remote Jenkinsfile Provider" in case of Mercurial SCM"
I've made a bug report in October 2020 on this, within the Jenkins Jira: https://issues.jenkins.io/browse/JENKINS-64052

Nobody seems to care about that bug report, so I am attempting to ask for help here.
All details are in the ticket.

[2021-02-24 14:51] leonardo-filipe commented on #25
Same here. Running Scan Organization Folder followed by Scan Multibranch Pipeline on its children pipelines seems to fix the issue for those specific pipelines. However, I had to rollback to 1.13 as I have more than 8k Multibranch Pipelines in my Jenkins instance.

I'm running Jenkins 2.263 LTS

[2021-03-08 10:32] vvranjek commented on #25
Same here!

[2021-03-11 12:32] ogal555 opened #27 "Checkout fail with subversion"
**Describe the bug**
11:19:10  ERROR: Checkout failed
11:19:10  java.lang.ClassCastException: class hudson.scm.SubversionSCM cannot be cast to class hudson.plugins.git.GitSCM (hudson.scm.SubversionSCM is in unnamed module of loader hudson.ClassicPluginStrategy$AntClassLoader2 @630bb5c4; hudson.plugins.git.GitSCM is in unnamed module of loader hudson.ClassicPluginStrategy$AntClassLoader2 @664f6f36)

[2021-03-18 23:10] tmeltser opened #28 ""Script Path" configuration element doesn't handle well undefined variables"
**Describe the bug**
When running a job for a new branch (in multi branch pipeline) that has a **parameter** (defined in the declerative pipeline we are running in the job) as the value of the "**Script Path**" plugin configuration, the build fails since the plugin treats this parameter (name) **as a literal**, instead of an empty value. Only after we put a constant string "e.g. Jenkinsfile" in th

[2021-03-18 23:14] tmeltser commented on #28
The intended pipeline has the above mentioned parameter defined as"
[code]

[2021-03-22 20:36] kepler2-seakr opened #29 "Remote Jenkinsfile Provider takes exception with Subversion SCM"
When a generated Multibranch Pipeline job is executed that uses a jenkinsfile obtained using Remote Jenkinsfile Provider plug-in, the following occurs early in the run of the generated project:

ERROR: Checkout failed
java.lang.ClassCastException: hudson.scm.SubversionSCM cannot be cast to hudson.plugins.git.GitSCM
	at org.jenkinsci.plugins.workflow.multibranch.extended.scm.ExcludeFromChangeSet$Sc

[2021-03-22 20:55] ndimiduk opened #30 "Expose the git branch of the Jenkinsfile repository that was checked out"
Per #21 the the environment variables `RJPP_SCM_URL` and `RJPP_JENKINSFILE` describe the checkout of the Jenkinsfile used for the current build. The plugin will made a decision as to what branch/git ref to check out, but this information is not available. Please include this detail as an additional environment variable. Thanks!

[2021-04-15 20:27] aytuncbeken commented on #25
Fixed with version 1.15

[2021-04-15 20:28] aytuncbeken commented on #29
Hi,

Are you using git or subversion for remote file plugin ?

[2021-04-15 20:29] aytuncbeken commented on #30
Hey,
Thanks for the suggestion, I will add this.

[2021-04-15 20:31] aytuncbeken commented on #18
Closing issue: No response

[2021-04-15 20:31] #18 closed

[2021-04-15 20:42] aytuncbeken commented on #26
Hi @tcsabina ,
This can be related to Authorize Project Plugin. There is no special filter developed in this plugin

[2021-05-07 10:54] ogal555 commented on #29
subversion

[2021-05-12 11:15] tmeltser commented on #28
Would appreciate any help, as this "glitch" in this well performing and useful plugin, is making our use of it (indeed somewhat sophisticated) very annoying...

[2021-05-13 16:56] aytuncbeken commented on #28
Hi @tmeltser ,
Thank you for all the details you have provided.
Unfortunately, this is possible only if this variable is defined as Global Variable in Jenkins. The reason is, scriptPath is passed to the CpsScmFlowDefinition  ( which is not implemented in this plugin, it is part of workflow api) class which handles the clone action, spots the Jenkins file and runs the job.

What I can do is, I can

[2021-05-13 16:59] aytuncbeken commented on #30
Hi @ndimiduk
Could you please describe the variable that you need in details ? I didn't understand.
Current variables, which are passed to the job, are listed below.

SCM Url
JenkinsFile :
Branch : (Branch of the Jenkins file which is checked out)

[2021-05-13 17:03] aytuncbeken commented on #25
Hey @drubitsa , @vvranjek , @Mulgikapsas , @leonardo-filipe

Is it solved. I will be glad if I can have some feedbacks from you. Thanks in advance

[2021-05-13 17:03] aytuncbeken commented on #17
Hi @pilisig
Do you have any updates ? If not I am going to close this issue.

[2021-05-13 17:04] aytuncbeken commented on #26
Hey @tcsabina ,

Is it solved for you ? I am going to close this issue.

[2021-05-13 17:23] aytuncbeken commented on #29
Hey @ogal555
Found the issue, It was caused by casting. This feature is only possible for Git Scm. Making changes to exclude from subversion.
I will inform when it is released.

[2021-05-13 17:27] aytuncbeken commented on #27
Duplicate https://github.com/jenkinsci/remote-file-plugin/issues/29

[2021-05-13 17:37] tmeltser commented on #28
Hi @aytuncbeken,
First - thanks for taking the time to reply on this issue
Second - I've already done this and it works too well, the variable indeed gets resolved, but this prevents the variable from getting its value from the parameters section in the pipeline (global variable hides the pipeline parameters).
Third - **Maybe you can do the following: in case you understand it is a (**_unresolved_

[2021-05-13 17:49] Mulgikapsas commented on #25
Hi, It is still an issue in 1.15. Had to revert back to 1.12 again.

[2021-05-13 17:50] aytuncbeken commented on #29
Release with 1.16. Please validate

[2021-05-13 17:50] aytuncbeken commented on #27
Released with 1.16 , please validate

[2021-05-13 17:58] JP69745 commented on #25
After upgrading to 1.15:
[code]

After downgrading to 1.12:
[code]

[2021-05-13 17:58] aytuncbeken commented on #28
Hey, thanks  for returning back.
I wonder, how did you manage this to work ? Could you please give an example ? Just I wanted to learn.

3. I guess I can do that. Let me understand well,
If starts with $ -> Jenkinsfile
if not starts with $ -> pass the value

[2021-05-13 17:59] aytuncbeken commented on #25
@Mulgikapsas @JP69745
Thanks for details, I will check again.
What I understood is, after upgrading from 1.12 to 1.15 this happens.

[2021-05-13 18:08] Mulgikapsas commented on #25
@aytuncbeken Correct

[2021-05-13 19:52] ndimiduk commented on #30
Sure, I can try; perhaps it's a misunderstanding on my part. What exactly is the variable that provides the branch of the Jenkinsfile which is checked out? What I'm looking for is the ref (branch, tag, &c.) in the repository described in `RJPP_SCM_URL` that was checked out for the build. This is interesting when used with the "Match Branches" and "Fallback Branch" features as exposed in the plugin

[2021-05-15 10:07] tmeltser commented on #28
Hi,
As for the usage - I've leveraged the plugin to allow for a dynamic selection of Jenkinsfile, which is a very powerful ability; if you'll look at my original mail you'll see the parameter I've defined in the pipeline that allows the user (or even more important - **an upstream pipeline**...) to invoke several pipelines in the same job job (all of which are defined in a remote repo, in our case

[2021-05-17 20:33] tcsabina commented on #26
Hi,

The issue is not solved, as I am not even sure where the bug is :).

But it is okay to close this. Not a high prio anymore...

[2021-05-19 10:58] amiryo commented on #28
Hi All,
I would be happy to get the solution suggested below in order to be "flexible" when using more than one jenkinsfile in same repo.

[2021-05-25 11:37] nisdonel commented on #28
Hello,
I have faced with same issue as @tmeltser too, If you can please give priority to this issue I will thank you very much.
Thanks a lot

[2021-05-26 10:00] avshimo commented on #28
Hi @aytuncbeken,
I stumbled upon this  issue while looking for a solution to a problem I am facing .
I am using  multiple jenkinsfiles for  different purposes .  so far,  used interactive user input to provide jenkinsfile name , but now moving into fully automated pipeline with need a solution to run with undefined var as @tmeltser.

looking forward to any progress with this issue .
Thank You
Leon

[2021-05-28 05:15] aytuncbeken commented on #29
Hey @ogal555
Is it fixed for you ? Please let me know. Otherwise I will close the issye

[2021-05-28 11:33] tmeltser commented on #28
Hi @aytuncbeken,
Any chance I can get the correction we discussed sometime soon?
The current behavior is quite annoying (for our use case), and I now see that there are some other parties interested in this adjustment, so it would benefit not only us...
Looking forward to getting this correction sometime soon.
10x,
Tiran.

[2021-05-30 07:51] aytuncbeken commented on #25
Thank you all for the details. Finally managed to reproduce the problem and applied a fix. However,  there is one important detail. As this variable was not defined in older versions of this plugin, It is not possible to get real value for it. Therefore, RJPP_BRANCH_ENV_NAME variable will have "N/A" value. This is just a workaround to prevent "Null Pointer exception" error.

The real fix is only p

[2021-05-30 07:52] aytuncbeken commented on #26
Gotcha. Fyi, I had the same problem before. Solved with using and configuring this plugin
https://plugins.jenkins.io/authorize-project/
Best.

[2021-05-30 07:52] #26 closed

[2021-05-30 07:53] aytuncbeken commented on #27
As I couldn't get any feedback, I assume it is working fine. Closing the ticket.

[2021-05-30 07:53] #27 closed

[2021-05-30 07:54] aytuncbeken commented on #29
As I couldn't get any feedback, I assume it is working fine. Closing the ticket.

[2021-05-30 07:54] #29 closed

[2021-05-30 07:58] aytuncbeken commented on #30
Hi @ndimiduk
RJPP_BRANCH_ENV_NAME this variable provides the info you are looking for. This value is set to branch name of the Jenkins file, even if fail to find and fallbacks to Fallback Branch.

I hope this helps. Please let me know.

Best

[2021-05-30 08:01] aytuncbeken commented on #17
As I couldn't hear from the user, closing this ticket.

[2021-05-30 08:01] #17 closed

[2021-05-30 10:13] aytuncbeken commented on #28
Hi Everyone,

I made some tests and noticed that currently Jenkins file name can be passed to underlying workflow job which is generated by multibranch job. (As @tmeltser  mentioned )

Here how I did it.

Defined Remote Jenkins file provider plugin with a variable name.

<img width="994" alt="image" src="https://user-images.githubusercontent.com/17325506/120097215-986f8080-c12f-11eb-80b5-2edf30086

[2021-05-30 10:14] aytuncbeken commented on #28
My question is, what is the required feature in this issue ? Processing Global variables and replace if it is defined ?

[2021-05-30 13:05] tmeltser commented on #28
Hi @aytuncbeken,
Let me check what you wrote, I'm not sure it works with **newly created** branches (this is what I have seen), but I'll check again and update back.

Tiran.

[2021-05-30 13:16] tmeltser commented on #28
Hi @aytuncbeken,
As I said, the problem is with newly created branches, in the example below I've created a new branch "golan" and as you can see, the plugin doesn't recognizes the variable "TARGET_JENKINSFILE_FILE_NAME" (probably since in this new branch the pipeline never executed and the parameter is unknown):
[code]
As for the requested change - as you wrote above:
[code]
10x,
Tiran.

[2021-05-30 14:16] aytuncbeken commented on #28
Hi @tmeltser
I want to be sure, are you using commas to surround variable ? I see like that in the log.
Please use ```${TARGET_JENKINSFILE_FILE_NAME}```

[2021-05-30 14:27] aytuncbeken commented on #28
I guess, this is also happening because, It needs to run successfully and set Job properties once.

[2021-05-30 17:29] tmeltser commented on #28
I agree.
So, is it possible to get the adjustment we have just discussed for a test run?

Tiran.

[2021-06-02 10:50] Mulgikapsas commented on #25
@aytuncbeken Everything is working now. Thanks.

[2021-06-03 10:14] tmeltser commented on #28
Hi @aytuncbeken,
Can you assist us with getting this correction for this long waited (manual) workflow relief? - it will allow full utilization of the plugin (in the non-trivial usage we make of it)?
Tiran.

[2021-06-06 12:32] aytuncbeken commented on #25
@Mulgikapsas Happy to hear. I guess It is solved for others too.
Closing the issue.

[2021-06-06 12:32] #25 closed

[2021-06-07 08:53] amiryo commented on #28
Hi @aytuncbeken ,
I will appreciate if I can get the new feature soon in order to skip manual steps in Jenkins every time R&D created new feature branch pipeline failed since "Script Path" find "get" the variable as literal (as tmeltser explained)

**The new feature required is:**
Plugin "Script Path" parameter shall recognize undefined variable even when it is not set for the first time.

**How:*

[2021-06-08 16:54] ndimiduk commented on #30
Hi @aytuncbeken . I've upgraded to v1.17 and now see the `RJPP_BRANCH` variable. So far it appears to be working as I hoped. Thank you!

[2021-06-08 16:54] #30 closed

[2021-06-10 02:44] aytuncbeken commented on #28
Hi @amiryo and @tmeltser ,

Here is the problem, Processing parameters, which are defined in Jenkinsfile, is beyond the reach of this plugin (It is part of Workflow api). This plugin only gets the ScriptPath variable as string and passes to Workflow api with other parameters ( SCM, Branch, etc...). Therefore, I can not provide solution to this problem.

However, I believe there is a possible solut

[2021-06-10 09:15] tmeltser commented on #28
Hi @aytuncbeken,
I think it is much simpler - the plugin makes use of the "Script Path" parameter, all that is needed is to inspect the value it has  before proceeding:
If the value begins with "$" - don't use it but rather use the "Jenkinsfile" string as the value of the parameter,
Otherwise, use the value as is and procced as usual.

[2021-06-21 13:34] tmeltser commented on #28
Hi @aytuncbeken,
Can we finalize this long interaction with a suitable alignment and test it?

[2021-06-24 18:56] aytuncbeken commented on #28
Hi @tmeltser ,
I  checked how can I implement this but this creates another bad situation. What the plugin does passed the ```Jenkinsfile``` parameter to the underlying Workflow Cps. If I replace ```$JenkinsFileParam``` with ```Jenkinsfile``` then workflow jobs which are created by multibranch job will always use ```JenkinsFile```.

If this case works I can implement.

[2021-06-26 10:52] tmeltser commented on #28
Hi @aytuncbeken,
As far as I can tell (**talking abut multibranch jobs**), after the first successful build, your plugin will not encounter anymore `$JenkinsFileParam` but rather the resolved value (e.g., Jenkinsfile), as long as the plugin interferes **IFF** it encounters a value with a leading **$** (by replacing it with hard coded Jenkinsfile).
If you could supply us a patch - we would be happy

[2021-07-12 05:51] tmeltser commented on #28
@aytuncbeken - can we have the correction?

[2021-07-15 14:05] vadimiv opened #34 "CASC configuration"
Hello. How can i write casc configuration for your plugin. Thank you.

[2021-07-22 05:45] akshayahuja2187 opened #35 "How to use the plugin via declarative jenkinsfile?"
We are keen on using this plugin to manage our jenkinsfiles in a separate repo and so far, have found the plugin to work very well. Only problem is that currently we are setting it up via the jenkins UI, which may be a limitation for us to allow other users to do. Is there a sample available on how we do the setup in a declarative pipeline/jenkinsfile?

[2021-07-22 11:08] aytuncbeken commented on #28
Hi @tmeltser
I am going to add on option to the GUI for this behavior which will not be set as default ( This change shouldn't affect other users). Hopefully, I am going to implement next weeks. Thanks

[2021-07-22 11:10] aytuncbeken commented on #35
Hi @akshayahuja2187
Thanks for the issue. This configuration is made on Job structure. You can use jobDSL for setting this config. I am going to provide an example for this.

[2021-07-22 11:11] aytuncbeken commented on #34
Hi @vadimiv
I believe you can use jobDSL for defining jobs. I am going to provide an example for this.

[2021-07-22 11:22] akshayahuja2187 commented on #35
But isn't jobDSL scripted pipeline? any chance this can be used in declarative pipeline also?

[2021-07-22 13:52] tmeltser commented on #28
10x, looking forward to getting this long waited valuable addition.

[2021-07-23 06:14] akshayahuja2187 commented on #35
@aytuncbeken waiting for the example file.

[2021-07-26 07:40] vadimiv commented on #34
Hi @aytuncbeken thanks for your answer. I`ll wait for your example.

[2021-07-29 03:52] akshayahuja2187 commented on #35
@aytuncbeken could you please provide the sample you mentioned? Waiting on this.
Thanks!

[2021-08-06 11:20] matpag opened #36 "Download remote Jenkinsfile at specific git tag"
How to download a specific tag from the JenkinsFile repo?

I want to create a structure with multiple Jenkinsfile in the same centralized repo for different platforms:

[code]
I have to tag a specific version of the Jenkinsfiles to prevent breaking all the projects which does not handle every version of the same pipeline.

I've tried setting `refs/tags/0.0.1` in `Fallback branch` property but is n

[2021-08-07 16:41] aytuncbeken commented on #35
Hi @akshayahuja2187
You can check the documentation of the plugin for Job DSL example under the section ```Configuration with Job DSL```.
Job DSL is different from pipeline script. You can use Job DSL with JCASC to create jobs automatically.

[2021-08-07 16:41] aytuncbeken commented on #34
Hi @vadimiv
You can check the documentation of the plugin for Job DSL example under the section ```Configuration with Job DSL```.
Job DSL is different from pipeline script. You can use Job DSL with JCASC to create jobs automatically.

[2021-08-07 16:42] aytuncbeken commented on #36
Hi @matpag
I will check and get back to you as soon as possible.

[2021-08-09 20:50] Angelin01 opened #37 "The RJPP_BRANCH env variable is set to the source's branch, not the remote file's branch"
It appears the variable that was supposed to indicate the remote file branch (or, hopefully, also tags, which is our use case), actually points to the source branch.

[This line in particular is suspicious](https://github.com/jenkinsci/remote-file-plugin/blob/4c06b541043252061ae113ba82c0936ca733d523/src/main/java/org/jenkinsci/plugins/workflow/multibranch/extended/scm/ExtendedSCMBinder.java#L49)

[2021-08-09 20:52] Angelin01 commented on #37
As a side note, it looks like there is very little documentation regarding the `RJPP_BRANCH` variable. Maybe some should be added, both here and in the Jenkins plugin page.

[2021-08-17 05:35] avshimo commented on #28
Hi @aytuncbeken,
In reply to ..._I am going to add on option to the GUI for this behavior which will not be set as default ( This change shouldn't affect other users). Hopefully, I am going to implement next weeks_

Please update on this..  Have you made any progress ? .
We are looking forward for this blessed improvement ...
Many Thanks.

[2021-08-23 10:48] matpag commented on #37
I thinks this is the same as #36

[2021-08-23 11:43] Angelin01 commented on #37
@matpag I don't actually experience YOUR (#36) bug. Using both "Gitlab Project" and the simple generic "git" I can get git tags properly using `refs/tags/v.1.1`, but I've never used the "Fallback branch" field, only the Discover Tags option + direct ref.

[2021-08-23 13:07] matpag commented on #37
Where did you specify the tags to download the remote Jenkinsfile?

[2021-08-23 13:46] Angelin01 commented on #36
@matpag Answering [your question](https://github.com/jenkinsci/remote-file-plugin/issues/37#issuecomment-903749935) here, since it is for this issue.

Configured it here:
![image](https://user-images.githubusercontent.com/17818024/130458155-82ca1775-6b1e-47d1-a055-b8ec2f14709e.png)

[2021-08-23 14:12] matpag commented on #36
@Angelin01 It's working fine.
I have been misled by "Branches to build" description, I thought was something related to the project and not the Jenkinsfile itself.

Thank you :)

[2021-08-23 14:12] #36 closed

[2021-08-24 04:43] aytuncbeken commented on #28
HI Everyone,

Thanks for being patient. Hopefully, finishing this week.

[2021-08-24 09:18] efg770 commented on #28
Hi @aytuncbeken

We are suffering from the same problem in our Jenkins deployment
From what I'm reading here, you are trying to fix that
Any ETA for that Fix so I can update my plugin as well?

Thanks
Efg770

[2021-08-28 10:49] aytuncbeken commented on #28
Hi Everyone,

Thanks for your patience. Finally managed to implement the feature. So  how it works ?

A new checkbox is added to plugin configuration, "Lookup in Parameters for Script Path".

For using this feature,
1. Set script path as variable (any variable name is okay). Ex: ${JenkinsFileParameters}
2. Check the "Lookup in Parameters for Script Path" option
3. Re-Scan MultiBranch Job to apply

[2021-08-28 11:31] aytuncbeken commented on #28
Before releasing this, I will be glad if one of you can test it.
hpi file is uploaded to this message ( please unzip it before using)
[remote-file.hpi.zip](https://github.com/jenkinsci/remote-file-plugin/files/7070635/remote-file.hpi.zip)

[2021-08-28 11:32] aytuncbeken commented on #35
No response is received. Closing the issue.

[2021-08-28 11:32] #35 closed

[2021-08-28 11:32] aytuncbeken commented on #34
No response is received. Closing the issue.

[2021-08-28 11:32] #34 closed

[2021-08-29 09:50] tmeltser commented on #28
10x @aytuncbeken.
Will test the new feature and update you promptly with the results (and the experience).

[2021-08-31 14:53] tmeltser commented on #28
Hi @aytuncbeken,
We have tested the new version, and it seems to be working fine!
Please go ahead and publish it as a formal release.
I'm sure this new ability would be a very robust addition to this plugin (but maybe you should add the use case you wrote above to the plugin documentation, to inspire people to make a good use of the plugin, as we do).

10x,
Tiran.

[2021-09-01 21:56] aytuncbeken commented on #28
Happy to hear! I will release it this week hopefully. Documentation may take some time :) If anyone wants to prepare the document and publish, you are very welcome.

[2021-09-03 11:14] smvdheijden opened #43 "Build runs on the remote repo with the Jenkinsfile, not on the main repository (GitHub)"
**Describe the bug**
Given a multibranch pipeline with a configuration similar to:
* Branch Source:
  * GitHub
    * Repository URL: "https://github.com/openSourceOrganization/mainRepo
* Build Configuration:
  * Mode: by Remote Jenkinsfile Provider Plugin
    * Script Path: mainRepo/jenkinsfile
    * Repository URL: git@github.com:closedSourceOrganization/remoteRepo.git

When a build is triggered

[2021-09-05 14:53] aytuncbeken commented on #43
Hi @smvdheijden

This is a interesting situation, I tried the same scenario and couldn't find any problems.
You can find the screenshots of my test below
Jenkins 2.303.1
Pipeline: Multibranch: 2.26
Remote Jenkinsfile Provider: 1.17
GitHub Branch Source 2.11.2

<img width="1263" alt="Screenshot 2021-09-05 at 16 49 22" src="https://user-images.githubusercontent.com/17325506/132131242-a7a15b6c-3ab8-4

[2021-09-05 14:55] aytuncbeken commented on #43
And this is the Jenkinsfile
[code]

[2021-09-05 15:04] aytuncbeken commented on #37
Hi @Angelin01
Yes this is a bug, this parameters ```RJPP_BRANCH``` should always show the branch of the Jenkinsfile which is checked out.
I will make this fix.
Thanks for reporting!

[2021-09-06 08:24] smvdheijden commented on #43
Maybe it can be reproduced using a slightly more advanced build pipeline?
We are using:
* a shared library (in the same repo as the remote file)
* container agents

Some parts of our jenkins logging:
[code]

[2021-09-11 13:32] aytuncbeken commented on #43
Sorry, couldn't understand from the log. Could you please specify more clear steps for reproducing ?

[2021-09-11 13:37] aytuncbeken commented on #28
Hi Everyone,

This feature is released with 1.20 version. Hopefully, It will be in the plugin update site shortly.

Additionally, soon I will publish an article about this feature.
You can follow me from Linked/Twitter: aytuncbeken

I am closing this ticket. Thank you for all the brain storming!

[2021-09-11 13:37] #28 closed

[2021-09-20 21:13] aytuncbeken commented on #37
Hi @Angelin01
Fixed with 1.21 version

[2021-09-20 21:14] #37 closed

[2021-10-21 05:27] itg-ddanielson opened #58 "Blue Ocean compatibility"
Any way / thoughts to make this more compatible with Blue Ocean plugin; specifically the editor? The pipelines run fine but if you edit the pipeline using the editor it edits the Jenkinsfile in the working repo and not the repo that is set up to be the Jenkensfile host.
<img width="1468" alt="Screen Shot 2021-10-21 at 12 26 42 AM" src="https://user-images.githubusercontent.com/14184680/138216722-0

[2021-11-05 20:24] ravi-mosaicml opened #60 "Support for groovy `load`"
I would like to be able to `load` another groovy file relative to the remote Jenkinsfile, not the locally cloned repo.

For example, suppose the repo containing the `Jenkinsfile` also contains `file_to_be_included.groovy`.
When I attempt to `load "file_to_be_included.groovy"`, I get a `java.nio.file.NoSuchFileException` as jenkins is looking in the source code repo, not the jenkinsfile repo.

As a

[2021-11-24 14:07] gdancerx opened #64 "Build runs on Jenkinsfile repo"
**Describe the bug**

Here is a configuration:

Multibranch pipeline:

Branch sources (Bitbucket Cloud): bitbucket.org:xxx/servicecore.git
Global shared library repo (Bitbucket Cloud) : bitbucket.org:xxx/xxx-infra-cicd.git
Remote Jenkinsfile Provider Plugin (Bitbucket Cloud) : bitbucket.org:xxx/xxx-infra-cicd.git

Build is triggered by Jenkins UI. The code from bitbucket.org:xxx/xxx-infra-cicd.git

[2021-12-09 15:56] leanator opened #67 "The plugin changes the variables that are required for the Bitbucket server integration plugin"
**Describe the bug**
We have a multibranch pipeline configured to watch bitbucket repo A. Also have a bitbucket repo B with the jenkinsfile mapped in this plugin (on branch master).

When jenkins triggers a job for a change on a branch in repo A (example branch "develop") the job first checkout repo B to get Jenkinsfile and "Bitbucket server integration plugin" notifies bitbubket about de build jo

[2021-12-17 11:33] gesundes opened #68 "Scan for branches fails after pipeline creation by JobDSL"
**Describe the bug**
Scan for branches fails after pipeline creation by JobDSL job.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pipeline by JobDSL job
2. Go to the pipeline
3. Push the button ('Scan Multibranch Pipeline Now')
4. Take a look into the log of the scan and see java.lang.NullPointerException

**Workaround**
Go to Configure and push Save button without any changes.

*

[2021-12-17 12:17] gesundes commented on #68
I added a few more options to the JobDSL config:
[code]
and it fixed the problem, looks like.

Anyway, it's not ok when one can't rely on default values.

[2021-12-18 11:43] janisliepins commented on #68
Same issue here:
set these:
matchBranches(false)
lookupInParameters(false)

Reference to code changes: https://github.com/jenkinsci/remote-file-plugin/commit/746f980c889433a8e8db8ec575e4c0da4645de06#diff-e1c036b87383d3592d0b18b391cf129ade08bd8d01bc89ea42d6bcd251ec0466

[2021-12-25 08:48] aytuncbeken commented on #43
Didn't get any response. Closing the issue.

[2021-12-25 08:48] #43 closed

[2021-12-25 08:52] aytuncbeken commented on #60
Hi @ravi-mosaicml
```load``` can load groovy scripts which are in the workspace of that build. However, Jenkinsfile and its repository are not checked out into the workspace. I could suggest putting an additional SCM step.

[2021-12-25 08:52] #60 closed

[2021-12-25 08:57] aytuncbeken commented on #64
HI @gdancerx
Could you please provide some screenshots of the configuration?

[2021-12-25 08:58] aytuncbeken commented on #67
Hi @leanator
This notification behavior is part of SCM but not the remote-file plugin. I will check what I can do.

[2021-12-25 09:01] aytuncbeken commented on #58
hi @itg-ddanielson
I guess this is related to the blue-ocean plugin. This is not something that I can change on the remote-file plugin.
Closing the issue

[2021-12-25 09:01] #58 closed

[2022-01-07 15:46] smvdheijden commented on #43
Issues seems to be resolved by https://github.com/jenkinsci/log-parser-plugin/pull/32

[2022-03-31 12:44] Dennis-Nilsson opened #82 "New commits to remote jenkinsfile repository triggers builds"
**Describe the bug**
Jenkins polls remote jenkinsfile repository even though it should not. I have followed the documentation and added Additional behaviors "Exclude from Poll" but commits pushed to the remote jenkinsfile repository triggers build anyway. I can see in the Scan Multibranch Pipeline Log that Jenkins polls remote jenkinsfile repository.

**Expected behavior**
The remote jenkinsfile r

[2022-04-11 11:07] acrazing commented on #21
I'm also looking forward to this feature for putting the pod yaml files in a separate file instead of the Jenkinsfile with Kubernetes.

For example:

We can only write Jenkinsfile like this currently:

[code]

It would be great if we could write it this way:

[code]

[2022-05-25 03:51] lprimak opened #90 "Plugin uses now-deprecated dependent plugin (causes yellow bar in Jenkins)"
**Describe the bug**
The https://plugins.jenkins.io/workflow-cps-global-lib has been deprecated.
Remote Jenkinsfile plugin uses the now-obsolete plugin. Please migrate to the
new plugin which is https://plugins.jenkins.io/pipeline-github-lib

Thank you!

---
Pipeline: Deprecated Groovy Libraries
Version 588.v576c103a_ff86
Hosting of Pipeline Groovy libraries inside a Jenkins Git server. Deprecated

[2022-05-28 18:21] tommy04062019 opened #91 "updateGitlabCommitStatus don't work when using remote file plugin"
**Describe the bug**
When using a Jenkinfile from Remote FIle Plugin, updateGitlabCommitStatus has no effect

[2022-05-29 01:40] syskiller86 commented on #91
I figure out that if I use Gitlab Branch Source Plugin with build mode that using Remote Jenkinsfile Provider, somehow the pipeline status will be always in pending state.

[2022-06-01 03:05] #91 closed

[2022-06-01 03:07] tommy04062019 commented on #91
It seems due to GitLab Plugin failure

[2022-06-04 15:51] #90 closed

[2022-06-04 15:53] aytuncbeken commented on #64
No response so far. Closing the issue.

[2022-06-04 15:53] #64 closed

[2022-06-04 16:11] aytuncbeken commented on #67
Unfortunately, I couldn't find a way to change this behavior. As mentioned before, this action comes from the underlying SCM implementation.
Closing the issue.

[2022-06-04 16:11] #67 closed

[2022-06-06 17:49] paulogodinhoaq opened #96 "Upon changing agents, plugin tries do checkout the scanned repository"
**Describe the bug**
Plugin going into default behavior when changing agents. It begins without issue, checks out the Remote Pipeline and executes, but when a new agents is called in, before any pipeline action is taken, the plugin attempts to checkout the entire repo that is set in the Multibranch Pipeline, instead of the Remote one.

**To Reproduce**
Steps to reproduce the behavior:
Make a multi

[2022-06-06 21:41] chriscarpenter12 opened #97 "Null value not allowed as an environment variable: RJPP_LOCAL_MARKER"
Recently rebuilt our Jenkins instance and updating plugins. Upon updating to the latest version 1.22 of this plugin we started seeing the error for all builds using this remote Jenkinsfile.

[code]

Our current config has never used a local marker in the config options. It's always been null.

![image](https://user-images.githubusercontent.com/458486/172253837-5bd9ad28-9620-40a2-bac7-b2492363acd2.

[2022-06-07 06:48] aytuncbeken commented on #97
Hi @chriscarpenter12
Could you please reconfigure and save the job ? That should fix the issue

[2022-06-07 06:51] aytuncbeken commented on #97
In the meantime, I am preparing a fix

[2022-06-07 09:52] chriscarpenter12 commented on #97
Do you mean to set a value? Or just re-save the settings? That is the first thing I did was to re-save with no changes. I forgot to mention that.

[2022-06-07 10:49] aytuncbeken commented on #97
I released a new version for fixing the issue.

[2022-07-22 07:25] offa opened #111 "Tests rely on 'master' default branch"
**Describe the bug**
Executing tests on systems, where *master* isn't set es default git branch fails. The tests are going to use the configured branch name instead, thus failing on everything based on *master* assumptions.

Since the setup is done by calling `init()` of `GitSampleRepoRule` (git plugin), it's better fixed there (--> I'm going to submit a PR).

**To Reproduce**
Steps to reproduce t

[2022-08-05 12:16] juanbrein opened #116 "Errors on plugin"
**Describe the bug**
Don't know if this is related but the error is triggered by this plugin

**To Reproduce**
Steps to reproduce the behavior:
Configure Jenkins LTS multbranch pipeline and scan gitlab

**Expected behavior**
Should scan gitlab projects and branches without errors

**Screenshots**
Error:
[code]

We are not sure if this is caused by this plugin, any help is greatly appreciated . Tha

[2022-08-06 12:10] aytuncbeken commented on #116
Hi @juanbrein

Could you please reconfigure and save the job ? not sure why it is throwing null pointer

[2022-08-06 12:10] aytuncbeken commented on #97
@chriscarpenter12
Is everything okay ? I am going to close the issue

[2022-08-18 14:37] chriscarpenter12 commented on #97
Yes we're running version 1.23 without issue. Thanks for following up, and sorry for the delay

[2022-08-18 14:37] #97 closed

[2022-08-29 13:51] jgmsb opened #120 "Bitbucket Notifications not working with Remote Jenkinsfile"
**Describe the bug**
Hi. I've detected that when using the Remote Jenkinsfile plugin with a bitbucket repository, the default bitbucket notification that comes with multibranch pipelines stops working. Even using the Bitbucket Build Status Notifier to force the notification doesn't work either.

**To Reproduce**
Steps to reproduce the behavior:
1. Having a vanilla multibranch pipeline with a bitbu

[2022-10-04 10:02] DanieleSky opened #123 "How to work with Organization folder"
Hi,
I'm using Jenkins with an Organization folder linked to my Gitea installation.
This is awesome because Jenkins scan the organization and create a multibranch pipeline for each repository that I have.

Now I would to use your plugin but I don't know how to do.

I created a repository with a branch for every repositories in organization. In each branch I have a folder called same the branch of t

[2022-10-17 13:20] alexjfisher commented on #68
@aytuncbeken Also hit this today using after a recent jenkins upgrade (including this plugin).

[code]

@gesundes - Thanks for documenting the workaround.  That fixed it for me too, (but agree it should 'just work').

[2022-11-17 07:21] Shurakshya commented on #82
I have a dsl job with multibranchpipeline where this plugin is used. And having the same problem. Any idea how do we write the additional behaviours in Job Dsl rather than in UI? With xml, it comes just as extensions but no idea how we to write with job dsl.

[2022-11-18 13:01] puzzup commented on #120
+1
The problem is caused by not propagating revision(but branch name is propagated) of the source branch revision.
Can be checked with this code in Jenkinsfile, based on the [way bitbucket-branch-source-plugin determinate commit to notify](https://github.com/jenkinsci/bitbucket-branch-source-plugin/blob/beeaa476405b0bec0baca219874e5436d7873f83/src/main/java/com/cloudbees/jenkins/plugins/bitbucket/

[2022-11-20 13:38] NitzanDevOpser opened #127 "Environment variable RJPP_BRANCH is initialized with wrong value"
**Describe the bug**
Environment variable RJPP_BRANCH is initialized with wrong value when setting multiple values in 'Branches to build' section (image attached)

**To Reproduce**
Steps to reproduce the behavior:

Consider the following git branch tree:
[code]

1. Create new Multibranch Pipeline
2. Define the 'Mode' in 'Build Configuration' to `by Remote Jenkinsfile Provider Plugin`
3. Configure

[2022-11-30 15:06] rbreslin18 opened #129 "Github Branch Notifications not working with Jenkins Remote"
**Describe the bug**
A clear and concise description of what the bug is.
When using Jenkins remote, Github Branch Source notifications are stuck pending.
**To Reproduce**
Steps to reproduce the behavior:
1. Create standard multibranch pipeline with Github repo
2. Have Github Branch Source installed
3. Set remote jenkinsfile
4. continuous-inegration/jenkins-pr/pr-merge status stuck on Pending - Com

[2022-11-30 21:55] rbreslin18 commented on #129
After some more testing I realized this is not caused by this plugin but some type of issue with my Jenkins and Github Branch Source. Closing

[2022-11-30 21:55] #129 closed